/* General Styles */
body {
    font-family: 'Arial', sans-serif;
}

/* Header Section */
header {
    background-color: #f8f9fa;
    color: #000000;
    padding: 3rem 0;
}

header h1 {
    font-size: 3rem;
    font-weight: bold;
}

header p {
    font-size: 1.25rem;
}

/* About Section */
#about {
    background-color: #fff;
    color: #000000;
}

/* Blog Posts Section */
#posts{
    background-color: #c5c5c5bd;
}
#posts .card {
    margin-bottom: 1.5rem;
    background-color: #f7f7f7a2;
}


/* Contact Section */

#contact-form .form-control {
   
    margin-bottom: 15px;
}

/* Footer */
footer {
    background-color: #343a40;
    color: #fff;
}

footer p {
    margin: 0;
}
